.hoods {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
}

.hood_collapse {
  font-family: 'Tilt Neon', cursive;
  background-color: rgb(255, 105, 180, 0.3);
  height: 30px;
  margin-bottom: 10px;
  text-align: center;
  justify-content: end;
  align-items: center !important;
  vertical-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
  border-bottom: 1px solid rgb(114, 114, 114) ;
  box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.3);
}

.hood__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hood_card {
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  height: 150px;
  min-width: 100px;
  width: 100px;
  background-color: white;
  border-radius: 5px;
}

.murals_collapse {
  background-color: rgba(0, 0, 0, 0.4);
  font-family: 'Tilt Neon', cursive;
  margin-bottom: 5px;
  color: white;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 3px 6px 1px rgba(255, 255, 255, 0.3);
}

.attractions_collapse {
  background-color: rgba(0, 0, 0, 0.4);  font-family: 'Tilt Neon', cursive;
  color: white;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
  box-shadow: 3px 3px 6px 1px rgba(255, 255, 255, 0.3);

}

.restaurants_collapse {
  background-color: rgba(0, 0, 0, 0.4);  font-family: 'Tilt Neon', cursive;
  color: white;
  box-shadow: 0px 3px 6px 1px rgba(255, 255, 255, 0.3);

  margin-bottom: 2px;
  width: 100%;
  text-align: center;
}

.hood__image {
  max-width: 100%;
  min-height: 90%;
  max-height: 90%;
  object-fit: cover;
  height: auto;
}

@media (max-width: 768px) {
  .hood {
    flex: 1 0 50%;
    max-width: 50%;
  }

  .hood_collapse, .murals_collapse, .attractions_collapse, .restaurants_collapse {
    height: 50px
  }
}

@media (max-width: 576px) {
  .hood {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
}

.Collapsible__trigger {
  display: flex;
  position: relative;
  min-height: 100%;
  color: white;
  content: "\276F";
  justify-content: center;
  align-items: center;
}

.Collapsible__trigger:after {
  content: "\276F";
  transform: rotateZ(90deg);
  position: absolute;
  right: 10px;
  top: 12px;
}

.Collapsible__trigger.is-open:after {
  transform: rotateZ(-90deg);
}