.hoods {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
}

.hood_collapse {
  background-color: #3DD8FC;
  height: 30px;
  margin-bottom: 3px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
}
/* .hood_collapse.is-open:after {
  background-color: #3DD8FC;
  height: 30px;
  margin: 3px;
  width: 100%;
  text-align: center;
  color: white;
  font-size: large;
  font-weight: bold;
} */

.hood__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.hood_card {
  flex-basis: 40%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  height: 200px;
  width: 200px;
  background-color: white;
  border-radius: 5px;
}

.murals_collapse {
  background-color: rgb(255, 105, 180);
  color: white;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
}
/* .murals_collapse.is-open{
  background-color: rgb(255, 105, 180);
  color: white;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
} */

.attractions_collapse {
  background-color: rgb(255, 130, 192);
  color: white;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
}

.restaurants_collapse {
  background-color: rgb(253, 164, 208);
  color: white;
  margin-bottom: 2px;
  width: 100%;
  text-align: center;
}

/* .hood__murals {
  display: flex;
  flex-wrap: wrap;
} */

/* .hood {
  margin: 1rem;
  flex: 1 0 25%;
  max-width: 25%;
  position: relative;
} */

.hood__image {
  max-width: 100%;
  max-height: 90%;
  object-fit: cover;
  height: auto;
}

@media (max-width: 768px) {
  .hood {
    flex: 1 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 576px) {
  .hood {
    flex: 1 0 100%;
    max-width: 100%;
  }
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
}

.Collapsible__trigger {
  display: block;
  text-decoration: none;
  position: relative;
  color: white;
  /* font-family: 'FontAwesome'; */
  content: "\276F";
  transition: transform 300ms;
}


.Collapsible__trigger:after {
  /* font-family: 'FontAwesome'; */
  content: "\276F";
  transform: rotateZ(90deg);
  position: absolute;
  right: 10px;
  top: 2px;
  display: block;
  transition: transform 300ms;
}

.Collapsible__trigger.is-open:after {
      transform: rotateZ(-90deg);
    }
