#app {
    height: 100%
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-pagination-bullet-active {
    background-color: hotpink !important;
    box-shadow: 0 0 10px hotpink, 0 0 20px hotpink, 0 0 30px hotpink;
}

.swiper {
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 5vh;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 20vh;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
}

.swiper-slide img {
    display: block;
    height: auto;
    width: 20vh;
    object-fit: fill;
}