#map{
    display: flex;
    margin-inline: auto;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.461);
    height: 60vh;
    width: 90vw;
}

.popup--image {
    display: flex;
    margin-inline: auto;
    /* width: 20vw; */
    height: 20vh;
}