#map {
  display: flex;
  margin-inline: auto;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.461);
  height: 60vh;
  width: 95vw;
}

.leaflet-popup-content {
  min-width: 70vw;
}

.mural--popup--title, .attraction--popup--title, .restaurant--popup--title {
  display: flex;
  flex-wrap: wrap;
}

.popup--image {
  display: flex;
  margin-inline: auto;
  height: 20vh;
  max-width: 70vw;
}

div.cluster-icon {
  display: flex;
  flex-wrap: wrap;
  background-color: none;
}

div.cluster-icon img {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 0.01px solid black; */
  border-radius: 100%;
}
/* uncomment to restore mural img marker settings */
/* 
.single-marker {
  border: 0.1px solid black;
  border-radius: 5px;
} */

.cluster--count {
  position: relative;
  background: rgb(255, 50, 175);
  border-radius: 100%;
  width: fit-content;
  padding-inline: 6px;
  top: 20px;
  left: 2px;
}

.mural--pin--image {
  height: 60px;
}

img.mural--pin--inner-image {
  position: relative;
  border: 0.01px solid black;
  border-radius: 100%;
  top: 42px;
  left: 10px;
  /* height/width in markerMarker.js */
}