
.murals__img {
    width: 250px;
    height: 200px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.mural section .murals__img {
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mural {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 105, 180, 0.3);
    box-shadow: 0px 3px 6px 1px rgba(255, 255, 255, 0.3);
    width: 90%;
    height: 80%;
    overflow:scroll;
    border: inset;
    opacity: 80%;
    color: #3DD8FC;
    padding: 5%;
  }


.mural__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.mural__address {
    margin-top: 20%;
}