.murals_body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .murals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .murals__page {
    border: 2px solid black;
    background-color: lightgray;
    margin: 0 auto;
    width: 750px;
    padding: 10px;
    justify-content: center;
    
  }

  .mural__title {
    font-family: 'Tilt Neon', cursive;
    text-shadow: 0 0 2px #3DD8FC,
    0 0 1px #3DD8FC,
    0 0 0px #3DD8FC,
    0 0 2px #3DD8FC,
    0 0 10px #3DD8FC,
    0 0 1px #3DD8FC,
    0 0 10px #3DD8FC,
    0 0 2px #3DD8FC;
    width: 200px;
    height: 300px
  }
  

  .murals__page {
    border-color: aqua;
    
  }
  
  .murals section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  
  .murals section .mural__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media only screen and (min-width: 768px) {
    .murals section {
      width: calc(50% - 20px);
    }
  }
  
  @media only screen and (min-width: 992px) {
    .murals section {
      width: calc(33.33% - 20px);
    }
  }


  