.mural__title {
    font-family: 'Tilt Neon', cursive;
    text-shadow: 0 0 2px #3DD8FC,
    0 0 1px #3DD8FC,
    0 0 0px #3DD8FC,
    0 0 2px #3DD8FC,
    0 0 10px #3DD8FC,
    0 0 1px #3DD8FC,
    0 0 10px #3DD8FC,
    0 0 2px #3DD8FC;
    width: 200px;
    height: 300px
}



.murals__img {
    width: auto;
}

.murals section .murals__img {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }

  .mural {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px; */
    display: flex;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* flex-direction: column; */
    background-color: black;
    border-radius: 2%;
    border-color: #c6920eb7;
    border-width: .2rem;
    border-style:groove;
    width: 900px;
    height: 900px;
    /* margin-top: 7rem;
    margin-left: 10rem; */
    margin: 0 auto;
    /* margin-top: -200; */
    overflow:scroll;
    padding-bottom: 50;
    border: inset;
    opacity: 75%;
  }


.murals__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* flex-direction: column; */
    background-color: black;
    border-radius: 2%;
    border-color: #c6920eb7;
    border-width: .2rem;
    border-style:groove;
    width: 50px;
    height: 50px;
    /* margin-top: 7rem;
    margin-left: 10rem; */
    margin: 0 auto;
    /* margin-top: -200; */
    overflow:scroll;
    padding-bottom: 50;
    border: inset;
    opacity: 75%;

    

} 