.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Tilt Neon', cursive;
  background-color: #0b032d!important;
  color: white;
  list-style: none;
  padding: auto;
  margin: auto;
  z-index: 10000;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.navbar-toggler {
  display: flex;
  align-items: flex-end;
  border-color: #33333300 !important;
}



.navbar-toggler-icon {
  color: white;
  background-color: rgba(61, 216, 252, 0.9);
  opacity: 0.9;
  border-radius: 30px;
  box-shadow: 0 0 20px #3DD8FC,
    0 0 1px rgb(61, 216, 252),
    0 0 0px #3DD8FC,
    0 0 2px rgb(61, 216, 252),
    0 0 10px #3DD8FC,
    0 0 1px #3DD8FC,
    0 0 10px #3DD8FC,
    0 0 2px #3DD8FC;
}


collapse-show {
  margin-bottom: 2rem;
}

button.navbar-toggler {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  text-shadow: 0 0 2px #3DD8FC,
    0 0 1px #3DD8FC,
    0 0 0px #3DD8FC,
    0 0 2px #3DD8FC,
    0 0 10px #3DD8FC,
    0 0 1px #3DD8FC,
    0 0 10px #3DD8FC,
    0 0 2px #3DD8FC;
}


@media screen and (max-width:400px) {
  h1.navbar__link {
    font-size: 17px;
  }
}

.navbar-page-title {
  font-size: 23px;
  font-weight: 330;
  color: white;
  text-shadow: 0 0 16px #3DD8FC ,
    0 0 2px #3DD8FC ,
    0 0 2px #3DD8FC ,
    0 0 2px #3DD8FC ,
    0 0 2px #3DD8FC ,
    0 0 8px #3DD8FC ,
    0 0 2px #3DD8FC ,
    0 0 2px #3DD8FC ;
}

.navbar-item {
  margin-top: 5px;
}

.navbar__item.active {
  font-weight: bold;
}

.navbar__link {
  text-decoration: none;
  color: white;

}

.navbar__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar__logout {
  margin-left: auto;
}

#navbarToggleExternalContent {
  z-index: 3;
}