.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  list-style: none;
  padding: auto;
  margin: auto;
  z-index: 2;
}

.navbar-toggler{
display: flex;
}



/*.collapse{
} */

button.navbar-toggler{
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}


@media screen and (max-width:400px) {
  h1.navbar__link {
    font-size: 17px;
  }
}

.navbar-item {
  margin-top: 5px;
}

.navbar__item.active {
  font-weight: bold;
}

.navbar__link {
  text-decoration: none;
  color: white;

}

.navbar__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.navbar__logout {
  margin-left: auto;
}

#navbarToggleExternalContent {
  z-index: 3;
}